{% extends "base.html" %}

{% block content %}
<h3> Provisorischer Notizzettel </h3>

{% for zeile in liste %}
<table class="w3-table w3-round" style="width:100%">
<tr class="w3-theme">
  <td class="w3-right w3-tiny">{{ zeile.autor_name }}, {{ zeile.zeit_erstellt }}</td>
</tr>
<tr class="w3-theme-l3">
  <td>{{ zeile.text }}</td>
</tr>
<tr class="w3-theme-l4">
  <td> </td>
</tr>
</table>
{% endfor %}

<p>Neue Notizzeile eintragen: </p>
<form action="{% url 'Notizen:liste' %}" method="post">

{% csrf_token %}

  <div class="w3-row-padding">
    <div class="w3-twothird">
      <input class="w3-input w3-border" type="text" placeholder="Nachricht" name="Text">
    </div>
    <div class="w3-quarter">
      <input class="w3-input w3-border" type="text" placeholder="Dein Name" name="Autor">
    </div>
    <div class="w3-rest">
      <input class="w3-button w3-padding-4 w3-theme-l1" type="submit" value="Eintragen" />
    </div>
  </div>

</form>

<h2> neue Version </h2>

<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Eintragen" />
</form>

{% endblock %}
