{% load static %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/w3.css' %}" />
    <link rel="stylesheet" href="{% static 'css/w3-theme-light-green.css' %}">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <title>{% block title %}This is my new project home page{% endblock title %}</title>
  </head>
  <body class="w3-theme-d3">
    {% block alles %}
    <div class="w3-card-4 w3-theme-l1 w3-margin-16 w3-round" style="margin:8">
      <div class="w3-container w3-theme-l4 w3-padding-16">
      {% block kopfzeile %}
        <h2> <a href="/">
          <i class="fa fa-home w3-margin-8 w3-hover-text-theme"></i></a
        >Dies ist die Kopfzeile </h2>
      {% endblock %}
      </div>

      <div class="w3-row-padding">
      {% block mittelteil %}  
        <div class="w3-col" style="width:15%">
          <p>...Hier<br>stehen<br>später<br>diverse<br>Links:</p>
        </div>
        <div class="w3-rest w3-padding-8"><div class="w3-card-4 w3-theme-l4 w3-margin-4 w3-round">
          <div class="w3-margin-12 w3-padding-8">
            {% block content %} 
              <p>Inhalt</p> 
            {% endblock %}
          </div>
          
        </div></div>
      {% endblock %}
      </div>

      <div class="w3-container w3-theme-l4 w3-padding-16">
      {% block fusszeile %}
        <p> Das ist die Fußzeile - hier kommt das Impressum und eine laaange Liste der Sponsoren hin </p>
      {% endblock %}
      </div>
    </div>
    {% endblock %}

  </body>
</html>
