{% load static %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/w3-theme-light-green.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Grundgeruest/ilja.css' %}" />
    <link rel="shortcut icon" href="{% static 'img/logo_mcd_gedreht.jpg' %}">
    <title>{% block title %}Iljas übelste Wettbewerbsseite{% endblock title %}</title>
  </head>
  <body class="w3-theme-d4"><div class="w3-theme-l1">
    {% include 'Grundgeruest/kopfzeile.html' %}
    {% include 'Grundgeruest/menueleiste.html' %}
    <main class="w3-theme-l4">
      <article>
        {% block content %}
        <h1>Startseite</h1>
        <p>
          <a href="{% url 'Wettbewerbe:index' %}"> zu den Wettbewerben </a>
        </p>
         {% include 'Grundgeruest/separator.html' with text='Spam' %}
        <p><br>
          textus randomus, nix richtigus lateinus:
        </p>
        {% lorem 6 p %}
        {% endblock content %}
      </article>
    </main>
  </div></body>
</html>
