/* Allgemeine Regeln */
a {
    text-decoration: none;
    color: inherit;
    font-family: "Futura Book", "Segoe UI", Arial, sans-serif;
    font-weight: 500;
    text-align: center;
}

a:hover {
    font-style: italic;
}

li {
    list-display: none;
}

body {
    font-family: Garamond, Verdana, sans-serif;
    line-height: 1.2;
    font-size: 120%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Futura Book", "Segoe UI", Arial, sans-serif;
    font-weight: 400;
}

/* Das große Layout der Seite */


body > div {
    margin: 12px 4px;
    border-radius: 3px;
    box-shadow: 0px 0px 4px 0px rgb(222, 222, 222);

    display: flex;
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}

body > div > header {
    flex: 100%;
    border-radius: 3px 3px 0 0;
}

nav {
    flex: 1 1 10em;
    margin: 1em 0;
}

main {
    flex: 5 75%;
    margin: 1em 0.4em;
    padding: 1em 0;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 0px 4px 6px 0px rgb(111, 111, 111);
}


/* Kopfzeile: Anmeldung, Profil, etc */

body > div > header {
    position: relative;
    height: 5em;
    padding: 0;
    display: flex;
    display: -webkit-flex;
    -webkit-flex-flow: column wrap-reverse;
    flex-flow: column wrap-reverse;
    -webkit-align-content: flex-start; 
    align-content: flex-start;
    -webkit-justify-content: flex-end; 
    justify-content: flex-end;
}

body > div > header > h1 {
    position: absolute;
    left: 1em;
    top: 0;
}

body > div > header > a {
    padding: 0.45em;
    margin: 0 0.3em 0.3em 0.3em;
    width: 10%;
    border-radius: 3px;
    box-shadow: 0 0.2em 0.3em 0 rgb(111, 111, 111);
}


/* Navigation */

nav {
    display: flex;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: stretch;
    align-items: stretch;
}

nav > a {
    padding: 0.4em 8%;
    margin: 0 0.6em 0.3em 1em;
    border-radius: 3px;
    box-shadow: 0px 0.2em 0.3em 0px rgb(111, 111, 111);
}


/* Hauptteil Layout */

article {
    margin: 1.5em 4em;
    position: relative;
}


/* Einbinden der Schriften */

@font-face {
	font-family: 'Garamond';
	src: url('font/garamond_regular.otf') format('opentype');
	}

@font-face {
	font-family: 'Garamond';
	src: url('font/garamond_italic.otf') format('opentype');
	font-style: italic;
}

@font-face {
	font-family: 'Garamond';
	src: url('font/garamond_bold.otf') format('opentype');
	font-weight: bold;
}

@font-face {
	font-family: 'Garamond';
	src: url('font/garamond_semibold.otf') format('opentype');
	font-weight: 500;
}

@font-face {
	font-family: 'Garamond';
	src: url('font/garamond_italic.otf') format('opentype');
	font-style: italic;
}

@font-face {
	font-family: 'Garamond';
	src: url('font/garamond_bold-italic.otf') format('opentype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Garamond';
	src: url('font/garamond_semibold-italic.otf') format('opentype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Futura Book';
	src: url('font/futura_regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Futura Book';
	src: url('font/futura_italic.ttf') format('truetype');
	font-style: italic;
}

@font-face {
	font-family: 'Futura Book';
	src: url('font/futura_bold.ttf') format('truetype');
	font-weight: bold;
}

@font-face {
	font-family: 'Futura Book';
	src: url('font/futura_bold-italic.ttf') format('truetype');
	font-style: italic;
	font-weight: bold;
}
